* {
    font-family: 'Roboto';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }
  html{
    background-color: #1F2937;
  }
  
  .menu-container {
    display: flex;
    justify-content: center; 
    color: #fff;
    
    padding: 20px 0;
  }
  
  .menu {
    
  width: 1366px;
   
  display: flex;
  justify-content: space-around;
  }

  .links {
   
    display: flex;
    justify-content: flex-end;
  }
  .menu > #header{
    font-size: 24px;
    font-weight: bold;
  }

  .links > .item {
    margin-left: 20px;
    font-size: 24px;
  }
   button{
    background-color: #3882F6;
    border: none;
    border-radius: 8px;
    
   }
    
   .section1{
    background-color: #1F2937;
    height: 350px;
    width: 1300px;
    
    
   }

   .hero{
   
    margin-left: 173px;
    width: 350px;
    margin-top: 95px;
  }

  .hero > h1{
    color: #fff;
    font-size: 36px;
    font-weight: bold;
    
  }
    .hero > p{
    width: 500px;
    margin-top: 12px;
    color: #fff;
    font-size: 18px;
    } 
    
    .hero > a > button{  
    height: 40px; 
    width: 140px;
    padding: 4px;
    margin-top: 10px;
    color: #fff;
    font-size: 24px;
    }



    
    .section2{
      height: 530px;
      background-color: #fff;
    }

    .section2 > .section-info{
      padding-top: 40px;
      font-size: 32px;
      text-align: center;
      font-weight: bolder;
      color: #1F2937; 
    }

    .menu-container2 {
      display: flex;
      
      justify-content: center; 
      padding: 20px 0;
      
    }
    
    .links2 {
      gap: 40px;
      display: flex;
      justify-content: space-around;
      padding-top: 35px;

     
    }
    
  
    .links2 > .item2 {
      height: 175px;
      width: 175px;
      color: black;
      font-size: 24px;
      background-color: #fff;
      border-style: solid;
      border-color: #3882F6;  
      border-radius: 10px;
    }


    .links2 > .item2 > p{
      text-align: center;
      margin-top: 180px;
      font-size: 18px;
      color: #59595a;
    }



    .section3{
      display: flex;
      justify-content: center;
      flex-direction: row;
      height: 400px;
      background-color: rgba(241, 241, 241, 0.979);

    }

    .section3-info > .aboba{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 700px;
      font-size: 32px;
     margin-top: 100px;
      font-weight: bolder;
      color: #1F2937; 
    }


    .section4{
      display: flex;
      margin-top: 150px;
      justify-content: center;
      flex-direction: row;
      height: 380px;
      background-color: #fff;
    }

    .section4 > .section4-info{
     margin-top: 50px;
      width: 1000px;
      height: 180px;
      background-color: #3882F6;
      border-radius: 12px;
    }