* {
    font-family: 'Roboto';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }
  

body {
    background-color: #FFFFFF;
    text-align: center;
    font-family: 'Roboto';
}

.container {
    display: flex;
    flex-direction: column;
}

/* Navbar Part */

.navbar {
    display: flex;
    background-color: #E5E7EB;
    padding: 20px 0px 20px 100px;
    align-items: center;
}

.header-logo img {
    margin-right: auto;
}

.header-link {
    display: flex;
    margin-left: auto;
    padding: 0px 100px 0px 0px; 
    
}

.header-link a {
    text-decoration: none;
    font-weight: bold;
    color: #1F2937;
    font-size: 20px;
    padding: 15px;
    
}

/* Hero Part */

.hero {
    display: flex;
    color: #1F2937;
    background-color: #ffffff;
    align-items: center;
    justify-content: center;
    padding: 90px;
}

.hero-cta {
    flex-basis: 440px;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-right: 100px;
}

.hero-cta p {
    width: 360px;

}

h1 {
    font-size: 52px;
    font-weight: bold;
    color: #1F2937;
    margin: 0;
    
}

.hero button {
    margin-top: 10px;
    text-align: center;
    width: 130px;
    border: none;
    background: #3881f6;
    padding: 13px;
    border-radius: 8px;
    color: #fff;
    font-family: 'Roboto';
    text-decoration: none;
    font-weight: bold;
}



/* Content Part */

.content {
    align-items: center;
}

.content-info {
    margin-top: 15px;
    display: flex;
    /* border: 1px solid gold; */
    justify-content: center;
    flex-wrap: wrap;
}


.content-info img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 4px solid #3882F6;
    border-radius: 15px;
    margin: 5px 20px 10px 20px;
}

.p{
    font-size: 20px;
}

   

.quote {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 0 200px;
}

.quote p {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    font-weight: lighter;
    font-family: 'Roboto';
}

.quote b {
    padding-bottom: 20px;
    padding-right: 10px;
    font-family: 'Roboto';
    text-align: right;
}

/* Sign Up Part */
.sign-up {
    background-color: #5d9bff ;
    margin: 50px 200px;
    padding: 10px 80px;
    display: flex;
    align-items: center;
    border-radius: 9px;
    border-color: none;
}

.sign-item {
    flex: 1;
}

.signs-text {
    text-align: left;
}

.signs-text p {
    color: #1F2937;
    font-size: 19px;
    font-weight: bold;
    margin: 5px 30px 30px 50px;
}

h3 {
    color: #1F2937;
    font-size: 26px;
   
    padding: 0;
    margin: 30px 0px 0px 50px;
}

.signs-button button {
    color: #1F2937;
    font-family: 'Roboto', arial;
    border-color: white;
    border-radius: 8px;
    border-width: 3px;
    background-color: #5d9bff;
    padding: 15px 55px;
    font-size: 20px;
    font-weight: bold;
}

.footer{
    background-color:#E5E7EB;
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
    color: #1F2937;
}